@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background: linear-gradient(0.25turn, #3f87a6, #6096B4, #EEE9DA); */
    background: url(/assets/images/mountain-img.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: black;
}

.main-container {
    width: 950px;
    height: 550px;
    /* background-color: rgba(3, 55, 74, 0.892); */
    background-color: white;
    border-radius: 2rem
}

.image-container {
    position: relative;
    top: 120px;
    width: min-content;
    height: min-content;
}

.image-container img{
    width: 450px;
    height: 350px;
}

.main-flex {
    display: flex;
}

.input-container {
    display: block;
    position: relative;
    top: 40px;
    left: 50px;
    width: 400px;
}

.input-container h2 {
    position: relative;
    left: 97px;
}
.input-container p {
    position: relative;
    left: 20px;
}

.user-login {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
  }

  .user-login label {
    margin-bottom: 10px;
  }

  .user-login input {
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 300px;
    height: 25px;
    /* background-color: rgb(178, 177, 177); */
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    outline-color: black;
  }
  .user-login button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 20px;
  }

  .user-login a {
    color: white;
    text-decoration: none;
  }

  .user-login input:focus {
    transition: all ease-in-out;
    transform: scale(1.1);
  }

  .login-el {
    margin-right: 10px;
    background-color: #007bff;
  }

  .create-el {
    background-color: #3a3d40;
  }

  .user-login button:hover {
    background-color: #0062cc;
  }
  
