
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(/assets/images/mountain-img.jpg);
    background-position: center;
    background-size: auto;
    margin: 0;
    padding: 0;
}

header {
    font-size: 26px;
    margin: auto;
    width: 70%;
    color: #e3c074;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 221px;
}

.task-container {
    margin: auto;
    width: 95%;
    height: 500px;
    margin-top: 100px;
    /* border: 10px solid black; */
}

.add_task-container {
    text-align: center;
    padding: 100px 0 0 0;
}

#add_task {
    width: 50%;
    padding: 20px;
    border-radius: 30px;
    /* background: #e3c074; */
    background: #dab871;
    border-style: none;
    padding-left: 50px;
    outline: none;
    font-size: 17px;
}

input::placeholder {
    font-size: 24px;
    color: white;
    text-align: left center;
    font-family: 'Montserrat';
    text-indent: 30px;
    padding-left: -15px;
}

.icon {
    position: absolute;
    padding: 17px 20px 20px 20px;
    font-size: 23px;
    min-width: 40px;
    color: #f5d99d;
    text-decoration: none;
    border: none;
    outline: none;
    overflow: hidden;
    background: transparent;
}


#task-list {
    width: 48%;
    height: 200px;
    background: white;
    margin: -20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    display: table;
    text-align: left;
}

#tasks {
    margin-top: 30px;
    list-style-type: none;
}

#tasks li {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#tasks li div {
    display: flex;
    margin-left: -40px;
    gap: .79rem;
}

input[type=checkbox] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.2rem;
    background: #dab871;
    box-shadow: inset 0px  -0.9px  3px  0.2px  rgb(19, 17, 17);
    box-shadow: inset 0px -6px 10px -10px black;
    display: grid;
    place-content: center;
    position: relative;
} 

input[type=checkbox]::before {
    content: "";
    background: url("/assets/images/check-solid.svg");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type=checkbox]:checked {
    background-color: #f8ca66;
    box-shadow: inset 0px -11px 10px -10px black;
}


input[type=checkbox]:checked::before {
    transform: scale(1);
}

#tasks li button {
    border: none;
    background-color: transparent;
}



#tasks li button:hover {
    background: rgba(128, 128, 128, 0.374);
    color: #03374a
}

#tasks li button:active {
    transition: all 2 ease-in-out;
    transform: scale(1.5);
}

#options li button {
    color: red;
}
/* --------------------------End of Tasks Section --------------------*/

.dropdown {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}

.dropdown.active > .dropbtn + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
} 


/* -----------------button styling ----------------------*/
.dropbtn {
    margin: auto;
    border-radius: 30px;
    width: 50%;
    background-color: rgb(3, 55, 74);
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    display: inline-flex;
    border: none;
    outline: none;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
}

.button_text {
    margin: auto;
    white-space: nowrap;
    font-size: 19px;
}

.button_text, .button_icon  {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.button_icon {
    font-size: 1.5em;
 }

 #curr_count {
    border-radius: 1.5em;
    color: black;
    font-size: 23px;
    background: #dab871;
    width: 1.9rem;
    height: 1.9rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem ;
 }

.dropbtn:hover, .dropbtn:focus {
    background-color: #03374aaf;
  }

/* ---------------------------#options----------------- */

#options {
    list-style-type: none;
    text-align: left;
    width: 47%;
    background-color: #03374a7f;
    margin: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem;
  } 


#options li {
    display: block;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    align-items: center;
    border-bottom: 1px solid black;
    text-decoration: line-through;
    cursor: pointer;
  }

  #options li div {
    display: flex;
    gap: .79rem;
  }

#options button {
    border: none;
    background-color: transparent;
  }

#options li button:hover {
    background: rgba(128, 128, 128, 0.374);
    color: #03374a
}

#options li button:active {
    transition: all 2 ease-in-out;
    transform: scale(1.5);
}

/* ---------------------------#checkbox----------------- */

input#completed {
    background: url("/assets/images/check-solid.svg");
}

input#completed::before {
    display: none;
}



/* ----------------------------ERROR MESSAGE----------------- */

.err-msg {
    color: rgb(254, 75, 75);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background: #39333365;
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 10px;

}




























