
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(./assets/images/mountain-img.jpg);
    background-position: center;
    background-size: auto;
    margin: 0;
    padding: 0;
}

header {
    font-size: 26px;
    margin: auto;
    width: 70%;
    color: #e3c074;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 221px;
}

.task-container {
    margin: auto;
    width: 95%;
    height: 500px;
    margin-top: 100px;
    /* border: 10px solid black; */
}

.add_task-container {
    text-align: center;
    padding: 100px 0;

    /* border: 10px solid grey; */
}

#add_task {
    width: 50%;
    padding: 20px;
    border-radius: 30px;
    background: #e3c074;
    border-style: none;
}

input::placeholder {
    font-size: 24px;
    color: white;
    text-align: left center;
    font-family: 'Montserrat';
    text-indent: 30px;
}

.icon {
    position: absolute;
    padding: 10px 20px 20px 20px;
    font-size: 23px;
    min-width: 40px;
    color: #f5d99d;
}

#curr_task-list {
    width: 48%;
    height: 200px;
    background: white;
    margin: -20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    display: table;
}










